@using EventHub.Core.ViewModels.Events

@model IEnumerable<EventListViewModel>;
@{
    var message = TempData["SuccessMessage"] as string ?? string.Empty;
}


@if (!string.IsNullOrEmpty(message))
{
    <p class="h4 alert alert-success">@message</p>
}

@if (User.IsInRole("Admin"))
{
    <div class="float-end">
        <a asp-controller="Events" asp-action="Create" class="btn btn-primary">Create</a>
    </div>
}


<div class="list-events-page container">
    <p class="h2">All events</p>
    <hr />


    @if (Model.Count() == 0)
    {
        <div class="d-flex container align-content-center justify-content-center">

            <p class="text-danger-emphasis h4 m-auto">There is no events right now</p>

        </div>
    }
    else
    {
        <div class="row mt-3 mb-3">
            @foreach (var eventData in Model)
            {
                <div class="col-12 col-md-6 col-lg-4 gy-3">
                    <div class="card h-100">
                        <img src="~/@eventData.ImagePath" class="img-fluid card-img-top" alt="EventImage" asp-append-version="true" />

                        <div class="card-body">
                            <h5 class="card-title">@eventData.Title</h5>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Participants:
                                    @(eventData.ParticipantsCount) / @(eventData.MaxParticipants)

                                <li class="list-group-item d-flex justify-content-around">
                                    <span>City: @eventData.CityName</span>
                                    <span>Category: @eventData.Category</span>
                                </li>

                                <li class="list-group-item m-2">
                                    <span>
                                        Start: @eventData.StartDate.ToString("dd MMM yyyy")
                                    </span>
                                    <br />
                                    <span>
                                        End: @eventData.EndDate.ToString("dd MMM yyyy")
                                    </span>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-controller="Events" asp-action="Update" 
                                    asp-route-eventId="@eventData.Id"
                                    class="btn btn-primary">Update</a>
                                }
                                <a asp-controller="Events"
                                   asp-action="Details" 
                                   asp-route-eventId="@eventData.Id"
                                   asp-route-categoryId="@eventData.CategoryId"
                                   asp-route-locationId="@eventData.CityId"
                                   class="btn btn-outline-success w-100 m-2">
                                    Details
                                </a>
                            </ul>

                        </div>
                    </div>
                </div>
            }
        </div>

    }
</div>
